.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #eff2f5;
}

.photo__container {
    width: 13vw;
    height: 25vh;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo__container:hover {
    opacity: 0.9;
    cursor: pointer;
}

.photo_hover_content {
    display: none;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex: 1;
    z-index: 2;
}

.photo__container:hover .photo_hover_content {
    display: flex;
}

.photo_specs {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.edit_photo {
    display: flex;
    width: fit-content;
    border-radius: 99px;
    justify-content: flex-end;
    background-color: black;
    opacity: 0.6;
}

.edit_photo:hover {
    cursor: pointer;
}

.edit_photo_container {
    display: flex;
    flex: 1;
    width: 15%;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    margin: 4px;
}