.reset {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #eff2f5;
    height: auto;
}

.reset_header {
    width: 100%;
    height: fit-content;
    flex: 1;
    z-index: 100;
    top: 0;
    box-shadow: 5px 5px 8px -4px rgba(78, 77, 77, 0.61);
    overflow: hidden;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset_logo {
    height: auto;
    width: auto;
    align-items: center;
    margin-left: 20px;
}

.reset_logo > img {
    height: 3vh;
    width: 8vw;
}

.sign_in_email_reset {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 15px;
    border-radius: 999px;
    width: auto;
}

.reset_email_password {
    border: none;
    background-color: transparent;
    outline-width: 0;
    width: auto;
}

.sign_in_reset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.sign_in_reset > button {
    width: 4vw;
    height: 5vh;
    color: white;
    background-color: #2e81f4;
    margin-left: 15px;
}

.sign_in_reset > button:hover {
    cursor: pointer;
    color: #2e81f4;
    background-color: #eff2f5;
}

.reset_body {
    background-color: #eff2f5;
    display: grid;
    justify-content: center;
    height: 80vh;
    padding: 30px;
    align-items: center;
}

.reset_body_container {
    display: grid;
    background-color: white;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
    z-index: 100;
    top: 0;
    box-shadow: 10px 10px 8px -6px rgba(78, 77, 77, 0.61);
    height: 50vh;
    width: 50vw;
}

.reset_body_contents {
    display: grid;
    background-color: white;
    justify-content: center;
    padding: 20px;
}

.reset_body_contents > div {
    align-items: center;
}

.reset_contents_title > div > h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
}

.reset_contents_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.reset_contents_title > img{
    height: 10vh;
    width: 10vh;
}

.reset_container {
    display: grid;
    align-items: center;
}

.reset_block {
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.reset_input_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ribc > button {
    margin-top: 20px;
    background-color: #2e81f4;
    color: white;
    border: 1px solid transparent;
    font-weight: bold;
}

.ribc > button:hover {
    cursor: pointer;
    color: #2e81f4;
    background-color: white;
    border: 1px solid #2e81f4;
}

.reset_input_email {
    background-color: #eff2f5;
    border-radius: 30px;
    flex: 1;
    margin-left: 15px;
}

.reset_email{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #f0f3f7;
    flex: 1;
}