.friend_container {
    display: flex;
    justify-content: space-between;
}

.friend {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend_text_data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friend_profile_avatar:hover {
    cursor: pointer;
}

.friend_profile_text {
    font-size: medium;
    font-weight: bold;
    color: black;
}

.friend_profile_text:hover {
    cursor: pointer;
    text-decoration: underline;
}